@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital@0;1&display=swap");
@font-face {
  font-family: "AkzidenzGroteskBQ";
  src: url("../fonts/AkzidenzGroteskBQ-Cnd.eot");
  src: local("☺"), url("../fonts//AkzidenzGroteskBQ-Cnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-Cnd.ttf") format("truetype"), url("../fonts//AkzidenzGroteskBQ-Cnd.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.get-btn {
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
  font-size: 15px;
  padding: 12px 30px;
}

.view-btn {
  font-family: "Bebas Neue";
  letter-spacing: 1.5px;
  font-size: 15px;
  text-decoration: underline;
}

.container {
  max-width: 850px;
  padding: 0 15px;
  margin: 0 auto;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, * before, * after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
}

body {
  font-family: "PT Sans";
}

input, button, textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  padding: 29px 0 33px 0;
  background: #fff;
}

.header-top {
  display: flex;
  justify-content: space-between;
}
.header-top__link {
  display: block;
  line-height: 19px;
  color: #000;
  text-transform: uppercase;
  font-family: "AkzidenzGroteskBQ";
  text-decoration: underline;
}

.header-top-lang {
  display: flex;
}
.header-top-lang__item {
  display: block;
  line-height: 19px;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  padding: 0px 4px;
  margin-right: 10px;
}
.header-top-lang__item.active {
  background: #000;
  color: #fff;
}

.header-bottom {
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.header-bottom__column {
  flex: 0 0 33.333%;
}
.header-bottom-menu-list {
  display: flex;
  justify-content: space-between;
}

.header-bottom-menu__link {
  display: flex;
  font-family: "AkzidenzGroteskBQ";
  color: #000;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.header-logo {
  display: block;
  text-align: center;
  flex-wrap: nowrap;
  padding: 0 20px;
}
.header-logo__text {
  font-family: "Bebas Neue";
  font-size: 10px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
.header-logo__image {
  display: inline-block;
  margin: 13px 0 22px 0;
}

@media (max-width: 760px) {
  .header-bottom {
    flex-direction: column;
  }
  .header-bottom__column {
    flex: 0 1 100%;
  }

  .header-bottom-menu-list {
    display: flex;
    justify-contetn: space-between;
    transition: all 0.2s linear;
  }
  .header-bottom-menu-list li {
    padding: 0 20px;
  }

  .header-logo {
    display: flex;
    text-align: center;
    align-items: center;
  }
  .header-logo__text:first-child {
    margin-right: 20px;
  }
  .header-logo__text:last-child {
    margin-left: 20px;
  }
}
.burg-btn {
  height: 40px;
  width: 40px;
}

.burg-btn span {
  display: none;
  margin-top: 10px;
  width: 30px;
  height: 2px;
  background: #000;
  cursor: pointer;
  position: relative;
  top: 10px;
  left: 5px;
}
.burg-btn span:after {
  content: "";
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  position: absolute;
  top: 10px;
}
.burg-btn span:before {
  content: "";
  width: 30px;
  height: 2px;
  background: #000;
  display: block;
  position: absolute;
  top: -10px;
}

.header-bottom-menu-list.active {
  display: flex;
  transition: all 0.2s linear;
}

@media (max-width: 510px) {
  .header-top {
    display: none;
  }

  .header-bottom-menu-list {
    display: none;
    transition: all 0.2s linear;
  }

  .header-bottom {
    align-items: center;
    flex-wrap: wrap;
  }
  .header-bottom__column {
    flex: 0 1 100%;
    order: 2;
  }
  .header-bottom__column:nth-child(1) {
    padding-top: 14px;
    flex: 0 1 100%;
    order: 2;
  }
  .header-bottom__column:nth-child(2) {
    flex: 0 1 100%;
    order: 1;
  }

  .header-logo__image {
    margin-top: 15px;
    margin-bottom: 0;
  }
  .header-logo__text {
    display: none;
  }

  .burg-btn span {
    display: block;
  }
}
.private {
  display: flex;
  flex: 0 1 50%;
}
.private__img {
  width: 50%;
}
@media (max-width: 505px) {
  .private {
    display: flex;
    width: auto;
    flex-direction: column;
  }
  .private__img {
    padding-bottom: 60%;
    padding-right: 100%;
  }
  .private .private-content {
    width: 100%;
  }
}

.private-content {
  width: 50%;
  background: #000;
  text-transform: uppercase;
  padding: 84px 75px;
}
.private-content__title {
  font-size: 50px;
  font-family: "AkzidenzGroteskBQ";
  color: #fff;
  padding-right: 100%;
}
.private-content__text {
  text-transform: none;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
  padding: 37px 45% 46px 0;
}
.private-content__get-btn {
  background-color: #fff;
  font-size: 15px;
  color: #000;
  letter-spacing: 1.5px;
  padding: 12px 30px;
}
.private-content__view-btn {
  font-size: 15px;
  color: #fff;
  text-decoration: underline;
  margin-left: 10px;
}
@media (max-width: 1440px) {
  .private-content__text {
    padding-right: 32%;
  }
}
@media (max-width: 1440px) {
  .private-content__text {
    padding-right: 20%;
  }
}
@media (max-width: 1116px) {
  .private-content__text {
    padding-right: 0px;
  }
}
@media (max-width: 924px) {
  .private-content {
    padding: 70px 55px;
  }
  .private-content__text {
    padding-right: 0px;
  }
  .private-content__title {
    font-size: 40px;
  }
}
@media (max-width: 668px) {
  .private-content {
    padding: 60px 40px;
  }
  .private-content__title {
    font-size: 38px;
  }
  .private-content__text {
    font-size: 14px;
    padding: 20px 0 40px 0;
  }
}

.menu-section {
  padding-top: 75px;
}
.menu-section__content {
  display: flex;
}
.menu-section__adapt-row {
  display: flex;
  flex: 0 0 50%;
  justify-content: space-between;
}
.menu-section__column {
  padding-bottom: 55px;
}
.menu-section__img {
  padding-bottom: 100%;
}
.menu-section__title {
  font-size: 25px;
  font-family: "AkzidenzGroteskBQ";
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: 25px 10px 15px 4px;
}
.menu-section__text {
  font-size: 15px;
  font-family: "PT Sans";
  color: #000;
  line-height: 23px;
  padding: 0px 5px 40px 4px;
}
.menu-section__btns {
  display: inline-flex;
  flex-direction: column;
}
.menu-section__get-btn {
  display: inline-block;
  background-color: #000;
  padding: 12px 20px;
  color: #fff;
}
.menu-section__view-btn {
  padding-top: 25px;
  color: #000;
}
@media (max-width: 850px) {
  .menu-section .menu-section__content {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
  }
  .menu-section__adapt-row {
    flex: 0 1 45%;
    flex-wrap: wrap;
  }
  .menu-section__btns {
    display: inline-flex;
    align-items: center;
  }
  .menu-section__get-btn {
    display: inline-block;
  }
}
@media (max-width: 620px) {
  .menu-section .menu-section__content {
    display: flex;
    flex-direction: column;
  }
  .menu-section__adapt-row {
    display: inline-flex;
    flex: 0 1 35%;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .menu-section__img {
    padding-bottom: 70%;
    padding-right: 70%;
  }
  .menu-section__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 470px) {
  .menu-section .menu-section__content {
    padding: 0 30px;
  }
  .menu-section__adapt-row {
    flex: 0 1 100%;
  }
  .menu-section__img {
    padding-bottom: 100%;
    padding-right: 100%;
  }
}

.choose {
  display: flex;
}
.choose__column {
  display: flex;
  flex: 0 1 100%;
}
.choose__column-text-block {
  justify-content: flex-end;
  background: #000;
  padding: 50px 90px 45px 0;
}
.choose__column-text {
  font-family: "AkzidenzGroteskBQ";
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.choose__img {
  height: 100%;
  width: 100%;
}
@media (max-width: 850px) {
  .choose__column-text-block {
    padding: 50px 30px 40px 0;
  }
}
@media (max-width: 700px) {
  .choose {
    display: block;
    width: 100%;
  }
  .choose__column-text-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
  }
  .choose__column {
    flex: 0 1 100%;
  }
  .choose__img {
    display: none;
  }
}
@media (max-width: 400px) {
  .choose__column-text-block {
    padding: 25px 0 25px 0;
  }
  .choose__column-text {
    font-size: 35px;
  }
}

.info {
  background: #ebebeb;
  padding-bottom: 55px;
}
.info__row {
  display: flex;
  justify-content: space-between;
}
.info__column {
  padding-top: 55px;
  display: flex;
  flex: 0 1 47.5%;
}
.info__content {
  position: relative;
  width: 100%;
  padding-left: 10px;
}
.info__title {
  display: flex;
  font-size: 25px;
  font-family: "AkzidenzGroteskBQ";
  font-weight: bold;
  letter-spacing: 2px;
  color: #000;
  text-transform: uppercase;
}
.info__text {
  position: absolute;
  bottom: 0;
  line-height: 22px;
  font-weight: 500;
  font-size: 15px;
}
@media (max-width: 855px) {
  .info__row {
    display: flex;
    flex: 0 1 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info__column {
    flex: 0 1 60%;
  }
}
@media (max-width: 614px) {
  .info__column {
    flex: 0 1 90%;
  }
  .info__title {
    font-size: 20px;
  }
  .info__text {
    font-size: 14px;
    line-height: 15px;
  }
}
@media (max-width: 380px) {
  .info .container {
    padding: 0;
  }
}

.say-header__title {
  font-size: 27px;
  font-family: "AkzidenzGroteskBQ";
  font-weight: bold;
  letter-spacing: 3px;
  color: #000;
  text-transform: uppercase;
  padding-top: 82px;
  padding-bottom: 28px;
}
.say-header__row {
  display: flex;
  flex: 0 1 50%;
  justify-content: space-between;
}
.say-header__text {
  font-weight: 500;
  font-size: 15px;
  color: #000;
  padding-bottom: 25px;
}
.say-header__text i {
  padding-right: 5px;
}
.say-header__link i {
  display: block;
  font-size: 18px;
  height: 10px;
  width: 10px;
  color: #000;
}
.say-header__icons {
  display: flex;
  margin-top: 22px;
}
.say-header__icons i {
  display: inline-flex;
  align-items: center;
  text-align: center;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  display: block;
  background: #000;
  color: #fff;
  padding-right: 0;
  padding-top: 9%;
  margin-right: 31px;
}
@media (max-width: 575px) {
  .say-header {
    padding: 0 25px;
  }
  .say-header__row {
    flex-direction: column;
  }
  .say-header__column:last-child {
    margin-top: 27px;
  }
  .say-header__title {
    padding-top: 30px;
  }
}
@media (max-width: 375px) {
  .say-header {
    padding: 0 5px;
  }
}

.say-body__row {
  display: flex;
}
.say-body__column {
  flex: 0 1 50%;
}
.say-body__column_form {
  padding: 60px 54px;
  background: #000;
  color: #fff;
}
.say-body__column_form label {
  font-family: "AkzidenzGroteskBQ";
  font-size: 25px;
  text-transform: uppercase;
}
.say-body__map {
  width: 100%;
  height: 100%;
}
.say-body__input {
  display: block;
  background: #252525;
  color: #959595;
  border: 2px solid #959595;
  font-size: 15px;
  padding: 10px 0 10px 18px;
  margin-top: 25px;
  width: 60%;
}
.say-body__textarea {
  background: #252525;
  color: #959595;
  resize: none;
  font-size: 15px;
  border: 2px solid #959595;
  padding: 10px 0 50px 18px;
  margin-top: 25px;
  width: 60%;
}
.say-body_submit {
  cursor: pointer;
  border: none;
  color: #000;
  font-weight: 500;
  font-family: "Bebas Neue";
  background: #fff;
  width: auto;
  padding: 12px 18px 10px 18px;
}
@media (max-width: 1200px) {
  .say-body__input {
    width: 80%;
  }
  .say-body__input:last-child {
    width: auto;
  }
  .say-body__textarea {
    width: 80%;
  }
}
@media (max-width: 762px) {
  .say-body__input {
    width: 100%;
  }
  .say-body__input:last-child {
    width: auto;
  }
  .say-body__textarea {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .say-body__row {
    flex-wrap: wrap;
  }
  .say-body__column {
    flex: 0 1 100%;
  }
  .say-body__map {
    padding-bottom: 75%;
  }
  .say-body__input {
    width: 80%;
  }
  .say-body__input:last-child {
    width: auto;
  }
  .say-body__textarea {
    width: 80%;
  }
}

.footer {
  padding: 30px 0;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__c {
  color: #4d4d4d;
  font-size: 15px;
}
@media (max-width: 666px) {
  .footer {
    text-align: center;
  }
  .footer__row {
    flex-direction: column-reverse;
  }
  .footer__logo {
    padding-bottom: 10px;
  }
}